<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>happy.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:D</string>
			</array>
		</dict>
		<key>sad-troll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:(</string>
				<string>sadtroll</string>
			</array>
		</dict>
		<key>tongue-rage.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-P</string>
				<string>:-p</string>
				<string>:P</string>
				<string>:p</string>
			</array>
		</dict>
		<key>horror.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>=-o</string>
				<string>=-O</string>
			</array>
		</dict>
		<key>problem.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>B-D</string>
				<string>:-D</string>
			</array>
		</dict>
		<key>somuchwin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:,D</string>
			</array>
		</dict>
		<key>thinking.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:-/</string>
			</array>
		</dict>
		<key>fffuuuu.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:o</string>
			</array>
		</dict>
		<key>why-lobby.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>D:</string>
			</array>
		</dict>
		<key>upset.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>&gt;:(</string>
			</array>
		</dict>
		<key>feelsgoodman.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>feelsgoodman</string>
			</array>
		</dict>
		<key>shut-face.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>shutface</string>
			</array>
		</dict>
		<key>megusta.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>megusta</string>
			</array>
		</dict>
		<key>smile1-rage.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>C:</string>
				<string>c:</string>
			</array>
		</dict>
		<key>smile2-rage.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>^_^</string>
			</array>
		</dict>
		<key>concentratedsmiley.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:E</string>
			</array>
		</dict>
		<key>shockedface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>shockedmad</string>
			</array>
		</dict>
		<key>blankface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>blankface</string>
			</array>
		</dict>
		<key>waitamin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>waitaminute</string>
				<string>waitamin</string>
			</array>
		</dict>
		<key>madface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>madface</string>
			</array>
		</dict>
		<key>ffuuv2face.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>ffuuv2</string>
			</array>
		</dict>
		<key>pfftface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>pfftface</string>
			</array>
		</dict>
		<key>thumbsupface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>thumbsupface</string>
			</array>
		</dict>
		<key>hehface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>hehface</string>
			</array>
		</dict>
		<key>hmmface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>hmmface</string>
			</array>
		</dict>
		<key>mad2face.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>mad2face</string>
			</array>
		</dict>
		<key>ffuuv3.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>ffuuv3face</string>
				<string>ffuuv3</string>
			</array>
		</dict>
		<key>slightlyface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>slightlyface</string>
			</array>
		</dict>
		<key>conflictingface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>conflictingface</string>
			</array>
		</dict>
		<key>fyeabodyface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>fyea</string>
			</array>
		</dict>
		<key>milkface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>milkface</string>
			</array>
		</dict>
		<key>foreveralone.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>foreveralone</string>
			</array>
		</dict>
		<key>okay.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>okayface</string>
			</array>
		</dict>
		<key>son.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>soniamdisappoint</string>
				<string>sondis</string>
				<string>dadface</string>
			</array>
		</dict>
		<key>lol.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>LOL</string>
				<string>lolface</string>
			</array>
		</dict>
		<key>yaoming.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>yaoming</string>
			</array>
		</dict>
		<key>yaoming2.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>yaomingscared</string>
			</array>
		</dict>
		<key>gtfo.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>GTFO</string>
			</array>
		</dict>
		<key>pokerface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>pokerface</string>
			</array>
		</dict>
		<key>baww.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>BAWWW</string>
			</array>
		</dict>
		<key>straight.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>straightface</string>
			</array>
		</dict>
		<key>youknowwho.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>youknowho</string>
				<string>youknowwho</string>
			</array>
		</dict>
		<key>youknowwhosad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>youknowhosad</string>
				<string>youknowwhosad</string>
			</array>
		</dict>
		<key>poed.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>poedface</string>
			</array>
		</dict>
		<key>ooo.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>oooface</string>
			</array>
		</dict>
		<key>gasp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>omgface</string>
				<string>*gasp*</string>
			</array>
		</dict>
		<key>dudecomeon.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>dudecomeon</string>
			</array>
		</dict>
		<key>awyea.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>awyeaface</string>
			</array>
		</dict>
		<key>surprisedface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>surprisedface</string>
			</array>
		</dict>
		<key>challengeaccepted.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>challengeaccepted</string>
			</array>
		</dict>
		<key>yunoface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>yunoface</string>
			</array>
		</dict>
		<key>syunoface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>syunoface</string>
			</array>
		</dict>
		<key>melvin.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>melvinface</string>
			</array>
		</dict>
		<key>excitedtroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>excitedtroll</string>
			</array>
		</dict>
		<key>jumpytroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>jumpytroll</string>
			</array>
		</dict>
		<key>cerealguy.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>cerealguy</string>
			</array>
		</dict>
		<key>feelsbadman.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>feelsbadman</string>
			</array>
		</dict>
		<key>shegusta.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>shegusta</string>
			</array>
		</dict>
		<key>steve.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>scumbagsteve</string>
			</array>
		</dict>
		<key>ruserious.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>ruserious</string>
			</array>
		</dict>
		<key>gorilla-rage.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>gorillarage</string>
			</array>
		</dict>
		<key>thatface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>xd</string>
				<string>xD</string>
				<string>&lt;grin&gt;</string>
				<string>&lt;GRIN&gt;</string>
				<string>XD</string>
			</array>
		</dict>
		<key>better-than-expected.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>:)</string>
				<string>:-)</string>
			</array>
		</dict>
		<key>foreveraloneyay.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>forveraloneyay</string>
				<string>fayay</string>
			</array>
		</dict>
		<key>harpdarp.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>harpdarp</string>
			</array>
		</dict>
		<key>highyall.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>highyall</string>
			</array>
		</dict>
		<key>maxleanaway.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>leanaway</string>
			</array>
		</dict>
		<key>melvinsad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>melvinsad</string>
			</array>
		</dict>
		<key>notokayface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>notokayface</string>
			</array>
		</dict>
		<key>rlynotokayface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>rlynotokayface</string>
				<string>rlynotokay</string>
			</array>
		</dict>
		<key>rageface.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>rageface</string>
			</array>
		</dict>
		<key>smallfu.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>smallfu</string>
			</array>
		</dict>
		<key>sonmegusta.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>sonmegusta</string>
			</array>
		</dict>
		<key>spittingcereal.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>spittingcereal</string>
			</array>
		</dict>
		<key>syunofacesad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>syunofacesad</string>
			</array>
		</dict>
		<key>trolldad.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>trolldad</string>
			</array>
		</dict>
		<key>brotroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>brotroll</string>
			</array>
		</dict>
		<key>awwait.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>awwait</string>
			</array>
		</dict>
		<key>trollol.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>trollol</string>
			</array>
		</dict>
		<key>trollbaby.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>trollbaby</string>
			</array>
		</dict>
		<key>stare.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>ragestare</string>
			</array>
		</dict>
		<key>sothere.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>sothere</string>
				<string>rlynotokay</string>
				<string>notokay2</string>
				<string>sonotokay</string>
				<string>notok</string>
			</array>
		</dict>
		<key>richfu.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>richfu</string>
			</array>
		</dict>
		<key>okayno.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>okayno</string>
			</array>
		</dict>
		<key>numb.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>numbface</string>
			</array>
		</dict>
		<key>hellno.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>hellno</string>
				<string>hellnoface</string>
			</array>
		</dict>
		<key>mexitroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>mexitroll</string>
			</array>
		</dict>
		<key>kiddingme.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>rukiddingme</string>
				<string>rukidding</string>
			</array>
		</dict>
		<key>hatersgonnahate.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>hatersgonnahate</string>
			</array>
		</dict>
		<key>grannytroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>grannytroll</string>
			</array>
		</dict>
		<key>gaytroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>gaytroll</string>
			</array>
		</dict>
		<key>forevernof.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>forevernof</string>
			</array>
		</dict>
		<key>drunk.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>drunk</string>
			</array>
		</dict>
		<key>deviltroll.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>deviltroll</string>
			</array>
		</dict>
		<key>derpina.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>derpina</string>
				<string>derpinaface</string>
			</array>
		</dict>
		<key>ilied.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>ilied</string>
				<string>iliedface</string>
			</array>
		</dict>
	</dict>
	<key>Service Class</key>
	<string>Rage</string>
</dict>
</plist>
